extends layout

block content
  h2 Dashboard
  if user
    h3 User Info
    table
      tr
        td ID
        td #{user.ID}
      tr
        td Username
        td #{user.username}
      tr
        td Display Name
        td #{user.display_name}
      tr
        td Email
        td #{user.email}
  if blog_id
    h3 Blog Info
    table
      tr
        td Blog ID
        td #{blog_id}
      tr
        td Blog URL
        td.url #{blog_url}
  h3 Publish a Post
  form(action='/publish' method='POST')
    label(for='blog_id') Blog ID:
    input(type='text' name='blog_id' id='blog_id' value=blog_id required)
    br
    label(for='title') Title:
    input(type='text' name='title' id='title' required)
    br
    label(for='content') Content:
    textarea(name='content' id='content' required)
    br
    button(type='submit') Publish
  if post
    h3.ok Post Published!
    table.ok
      tr
        td Title
        td #{post.title}
      tr
        td ID
        td #{post.ID}
      tr
        td URL
        td.url
          a(href=post.URL target='_blank') #{post.URL}
    p.msg
      a(href=post.URL target='_blank') View Post 